# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/TradeFriendlyClient/node_modules
/TradeFriendlyClient/.pnp
/TradeFriendlyClient/.pnp.js

# testing
/TradeFriendlyClient/coverage

# production
/TradeFriendlyClient/build
/TradeFriendlyServ/build

# misc
/TradeFriendlyClient/.DS_Store
/TradeFriendlyClient/.env.local
/TradeFriendlyClient/.env.development.local
/TradeFriendlyClient/.env.test.local
/TradeFriendlyClient/.env.production.local

/TradeFriendlyClient/npm-debug.log*
/TradeFriendlyClient/yarn-debug.log*
/TradeFriendlyClient/yarn-error.log*
