# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/TradeFriendlyClient/node_modules
/TradeFriendlyServ/node_modules
/TradeFriendlyServ/.pnp
/TradeFriendlyServ/.pnp.js
/TradeFriendlyClient/.pnp
/TradeFriendlyClient/.pnp.js

# testing
/TradeFriendlyClient/coverage
/TradeFriendlyServ/coverage

# production
/TradeFriendlyClient/build
/TradeFriendlyServ/build

# misc
/TradeFriendlyServ/.DS_Store
/TradeFriendlyServ/.env.local
/TradeFriendlyServ/.env.development.local
/TradeFriendlyServ/.env.test.local
/TradeFriendlys/.env.production.local
/TradeFriendlyClient/.DS_Store
/TradeFriendlyClient/.env.local
/TradeFriendlyClient/.env.development.local
/TradeFriendlyClient/.env.test.local
/TradeFriendlyClient/.env.production.local

/TradeFriendlyClient/npm-debug.log*
/TradeFriendlyClient/yarn-debug.log*
/TradeFriendlyClient/yarn-error.log*
/TradeFriendlyServ/npm-debug.log*
/TradeFriendlyServ/yarn-debug.log*
/TradeFriendlyServ/yarn-error.log*
