.App-logo {
  /*1height: 8vh; */
  pointer-events: none;
  width: 7%;
  text-align: left;
}

.App-header {
  background-color: #2B3A42;
}

.App-Content {
  min-height: 83vh;
  text-align: center;
}

.App-footer {
  background-color: #2B3A42;
  /*height: 8.6vh;*/
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.SteamCoButton {
  float: right;
  margin-right: 1%;
  /* background-color: #2B3A42; */
}

.App-copyright {
  height: 4vmin;
  margin-top: 1%;
}

body {
  background-color: #3F5765;
  background-image: url("background2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* HEADER */

.NavbarImage {
  max-width: 200px;
}

.loginoption {
  margin-top: 50px;
}
/* BODY */

/* MESSAGE ACCUEIL */

#MessageAccueil {
  background: none;
}

.AccueilImage {
  max-width: 400px;
}

.AccueilAnnonce {
  color: #FFFF;
}
.ImportantWord {
  color: #ffcb3f;
}

/* resultats*/

#TitreResultats
{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  color: #F8F9F9;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

.resultImage {
width: 150px;
}

.resultItems {
  text-align: left;
  margin-bottom: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  background: #7D95A4;
  width: 100%;

}

#LoginArea {
  width: 100%;
  margin-top: 50px;
}