.App-logo {
  /*1height: 8vh; */
  pointer-events: none;
  width: 7%;
  text-align: left;
}

.App-header {
  background-color: #2B3A42;
}

.App-Content {
  min-height: 83vh;
  text-align: center;
}

.App-footer {
  background-color: #2B3A42;
  /*height: 8.6vh;*/
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.SteamCoButton {
  float: right;
  margin-right: 1%;
  /* background-color: #2B3A42; */
}

.App-copyright {
  height: 4vmin;
  margin-top: 1%;
}

body {
  background-color: #3F5765;
}

/* HEADER */

.NavbarImage {
  max-width: 200px;
}

/* BODY */

/* MESSAGE ACCUEIL */

.jumbotron {
  background: none;
}
.AccueilImage {
  max-width: 400px;
}

.AccueilAnnonce {
  color: #FFFF;
}
.ImportantWord {
  color: #ffcb3f;
}